In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import imageio
import os
import plotly.io as pio
from plotly.subplots import make_subplots
import numpy as np
import plotly.graph_objects as go

In [2]:
!pip install -U kaleido

Requirement already satisfied: kaleido in /Applications/miniconda3/lib/python3.10/site-packages (0.2.1)

In [3]:
df1 = pd.read_csv('../data/asylum_seekers.csv' , low_memory=False)
df1

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129716,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129717,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [4]:
data_1 = df1.fillna(0)
data_1

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,*,10,28,435,0
129716,2016,United States of America,Zimbabwe,G / EO,142,0,12,*,0,*,23,31,138,0
129717,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,0,*,*,*,*,*

In [5]:
columns_to_replace = ['Tota pending start-year', 'of which UNHCR-assisted(start-year)',
                      'Applied during year', 'decisions_recognized', 'decisions_other',
                      'Rejected', 'Otherwise closed', 'Total decisions',
                      'Total pending end-year', 'of which UNHCR-assisted(end-year)']

In [6]:
data_1[columns_to_replace] = data_1[columns_to_replace].replace('*', 0)

In [7]:
data_1

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129716,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129717,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129719,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [8]:
columns_to_convert = ['Tota pending start-year', 'of which UNHCR-assisted(start-year)',
                      'Applied during year', 'decisions_recognized', 'decisions_other',
                      'Rejected', 'Otherwise closed', 'Total decisions',
                      'Total pending end-year', 'of which UNHCR-assisted(end-year)']

In [9]:
data_1[columns_to_convert] = data_1[columns_to_convert].astype(int)

In [10]:
data_1.dtypes

Year                                        int64
Country / territory of asylum/residence    object
Origin                                     object
RSD procedure type / level                 object
Tota pending start-year                     int64
of which UNHCR-assisted(start-year)         int64
Applied during year                         int64
decisions_recognized                        int64
decisions_other                             int64
Rejected                                    int64
Otherwise closed                            int64
Total decisions                             int64
Total pending end-year                      int64
of which UNHCR-assisted(end-year)           int64
dtype: object

In [11]:
data_1

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,0,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,0,229,16,0,0,10,28,435,0
129716,2016,United States of America,Zimbabwe,G / EO,142,0,12,0,0,0,23,31,138,0
129717,2016,South Africa,Zimbabwe,G / AR,94,9,0,0,0,0,94,94,0,0
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,0,7869,0,7942,41260,0
129719,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,0,0,0,0,0

In [12]:
data_1.rename(columns={'Country / territory of asylum/residence': 'Country of Asylum', 'Origin': 'Country of Origin' , 'RSD procedure type / level' : 'Refugee Status Type' , 
                      'Total pending end-year':'Total Pending Cases' , 'Rejected' : 'Rejected Cases' , 'decisions_recognized' : 'Recognized Cases',
                      'Applied during year' : 'Total Applications'}, inplace=True)

In [13]:
columns_to_delete = ['decisions_other',
                     'Otherwise closed' , 'Total decisions' , 'of which UNHCR-assisted(end-year)' , 
                    'of which UNHCR-assisted(start-year)' , 'Tota pending start-year']

In [14]:
data_1.drop(columns_to_delete, axis=1, inplace=True)

In [15]:
data_1

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8
2,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235
3,2000,United States of America,Afghanistan,G / EO,225,151,31,171
4,2000,United States of America,Afghanistan,G / IN,218,182,51,150
...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,229,16,0,435
129716,2016,United States of America,Zimbabwe,G / EO,12,0,0,138
129717,2016,South Africa,Zimbabwe,G / AR,0,0,0,0
129718,2016,South Africa,Zimbabwe,G / FI,7964,73,7869,41260
129719,2016,Zambia,Zimbabwe,G / FI,0,0,0,0

In [16]:
df2 = pd.read_csv('../data/asylum_seekers_monthly.csv')
df2

/var/folders/z3/h787plg151ngb1cq61f4rbf40000gn/T/ipykernel_23938/2447111720.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../data/asylum_seekers_monthly.csv')

,Country / territory of asylum/residence,Origin,Year,Month,Value
0,Australia,Afghanistan,1999,January,8
1,Australia,Afghanistan,1999,February,10
2,Australia,Afghanistan,1999,March,25
3,Australia,Afghanistan,1999,April,25
4,Australia,Afghanistan,1999,May,7
...,...,...,...,...,...
332184,USA (INS/DHS),Zimbabwe,2016,December,28
332185,USA (INS/DHS),Zimbabwe,2017,February,27
332186,USA (INS/DHS),Zimbabwe,2017,March,42
332187,USA (INS/DHS),Zimbabwe,2017,April,16
332188,USA (INS/DHS),Zimbabwe,2017,May,12

In [17]:
data_2 = df2.fillna(0)
data_2

,Country / territory of asylum/residence,Origin,Year,Month,Value
0,Australia,Afghanistan,1999,January,8
1,Australia,Afghanistan,1999,February,10
2,Australia,Afghanistan,1999,March,25
3,Australia,Afghanistan,1999,April,25
4,Australia,Afghanistan,1999,May,7
...,...,...,...,...,...
332184,USA (INS/DHS),Zimbabwe,2016,December,28
332185,USA (INS/DHS),Zimbabwe,2017,February,27
332186,USA (INS/DHS),Zimbabwe,2017,March,42
332187,USA (INS/DHS),Zimbabwe,2017,April,16
332188,USA (INS/DHS),Zimbabwe,2017,May,12

In [18]:
data_2.dtypes

Country / territory of asylum/residence    object
Origin                                     object
Year                                        int64
Month                                      object
Value                                      object
dtype: object

In [19]:
data_2['Value'] = data_2['Value'].replace('*', 0)

In [20]:
data_2['Value'] = data_2['Value'].astype(int)

In [21]:
data_2

,Country / territory of asylum/residence,Origin,Year,Month,Value
0,Australia,Afghanistan,1999,January,8
1,Australia,Afghanistan,1999,February,10
2,Australia,Afghanistan,1999,March,25
3,Australia,Afghanistan,1999,April,25
4,Australia,Afghanistan,1999,May,7
...,...,...,...,...,...
332184,USA (INS/DHS),Zimbabwe,2016,December,28
332185,USA (INS/DHS),Zimbabwe,2017,February,27
332186,USA (INS/DHS),Zimbabwe,2017,March,42
332187,USA (INS/DHS),Zimbabwe,2017,April,16
332188,USA (INS/DHS),Zimbabwe,2017,May,12

In [22]:
data_2.rename(columns={'Country / territory of asylum/residence': 'Country of Asylum', 'Origin': 'Country of Origin' ,
                      'Value' : 'Count'}, inplace=True)

In [23]:
data_2

       Country of Asylum Country of Origin  Year     Month  Count
0              Australia       Afghanistan  1999   January      8
1              Australia       Afghanistan  1999  February     10
2              Australia       Afghanistan  1999     March     25
3              Australia       Afghanistan  1999     April     25
4              Australia       Afghanistan  1999       May      7
...                  ...               ...   ...       ...    ...
332184     USA (INS/DHS)          Zimbabwe  2016  December     28
332185     USA (INS/DHS)          Zimbabwe  2017  February     27
332186     USA (INS/DHS)          Zimbabwe  2017     March     42
332187     USA (INS/DHS)          Zimbabwe  2017     April     16
332188     USA (INS/DHS)          Zimbabwe  2017       May     12

[332189 rows x 5 columns]

In [24]:
data_2.drop('Count', axis=1, inplace=True)

In [25]:
data_2

       Country of Asylum Country of Origin  Year     Month
0              Australia       Afghanistan  1999   January
1              Australia       Afghanistan  1999  February
2              Australia       Afghanistan  1999     March
3              Australia       Afghanistan  1999     April
4              Australia       Afghanistan  1999       May
...                  ...               ...   ...       ...
332184     USA (INS/DHS)          Zimbabwe  2016  December
332185     USA (INS/DHS)          Zimbabwe  2017  February
332186     USA (INS/DHS)          Zimbabwe  2017     March
332187     USA (INS/DHS)          Zimbabwe  2017     April
332188     USA (INS/DHS)          Zimbabwe  2017       May

[332189 rows x 4 columns]

In [26]:
df3 = pd.read_csv('../data/demographics.csv')
df3

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0,NaN,1.0,NaN,1,0,0.0,2,0,NaN,0.0,NaN,2,0,0.0,2
1,2001,Afghanistan,Various,14335,NaN,45451.0,NaN,99880,19234,412004.0,590904,14716,NaN,47522.0,NaN,114965,13025,435492.0,625720
2,2001,Afghanistan,Herat,0,NaN,0.0,NaN,1,0,0.0,1,0,NaN,0.0,NaN,1,0,0.0,1
3,2001,Angola,Viana,484,NaN,1687.0,NaN,1282,43,0.0,3496,597,NaN,1645.0,NaN,787,34,0.0,3063
4,2001,Angola,Moxico,219,NaN,734.0,NaN,427,25,0.0,1405,226,NaN,711.0,NaN,139,15,0.0,1091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18351,2016,Zambia,Mayukwayukwa : Point,983,1456,NaN,934,2878,157,NaN,6408,982,1416,NaN,903,3202,326,NaN,6829
18352,2016,Zambia,Meheba : Point,1248,2364,NaN,1598,4182,300,NaN,9692,1205,2367,NaN,1693,4963,467,NaN,10695
18353,2016,Zambia,Zambia : Dispersed in the country / territory,637,1444,NaN,979,2712,400,NaN,6172,602,1314,NaN,1018,2786,512,NaN,6232
18354,2016,Zimbabwe,Harare : City,220,117,NaN,82,296,11,NaN,726,204,115,NaN,91,432,11,NaN,853
18355,2016,Zimbabwe,Manicaland : Province,496,769,NaN,525,1450,58,NaN,3298,462,829,NaN,604,1688,42,NaN,3625

In [27]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18356 entries, 0 to 18355
Data columns (total 19 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Year                                     18356 non-null  int64
 1   Country / territory of asylum/residence  18356 non-null  object
 2   Location Name                            18355 non-null  object
 3   Female 0-4                               17083 non-null  object
 4   Female 5-11                              13927 non-null  object
 5   Female 5-17                              3196 non-null   float64
 6   Female 12-17                             13949 non-null  object
 7   Female 18-59                             17694 non-null  object
 8   Female 60+                               16900 non-null  object
 9   F: Unknown                               12493 non-null  float64
 10  F: Total                                 18356 non-null  object
 11  Male 0-4                                 17075 non-null  object
 12  Male 5-11                                13950 non-null  object
 13  Male 5-17                                3196 non-null   float64
 14  Male 12-17                               13986 non-null  object
 15  Male 18-59                               17920 non-null  object
 16  Male 60+                                 16986 non-null  object
 17  M: Unknown                               12500 non-null  float64
 18  M: Total                                 18356 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 2.7+ MB

In [28]:
data_3 = df3.fillna(0)
data_3

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0,0,1.0,0,1,0,0.0,2,0,0,0.0,0,2,0,0.0,2
1,2001,Afghanistan,Various,14335,0,45451.0,0,99880,19234,412004.0,590904,14716,0,47522.0,0,114965,13025,435492.0,625720
2,2001,Afghanistan,Herat,0,0,0.0,0,1,0,0.0,1,0,0,0.0,0,1,0,0.0,1
3,2001,Angola,Viana,484,0,1687.0,0,1282,43,0.0,3496,597,0,1645.0,0,787,34,0.0,3063
4,2001,Angola,Moxico,219,0,734.0,0,427,25,0.0,1405,226,0,711.0,0,139,15,0.0,1091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18351,2016,Zambia,Mayukwayukwa : Point,983,1456,0.0,934,2878,157,0.0,6408,982,1416,0.0,903,3202,326,0.0,6829
18352,2016,Zambia,Meheba : Point,1248,2364,0.0,1598,4182,300,0.0,9692,1205,2367,0.0,1693,4963,467,0.0,10695
18353,2016,Zambia,Zambia : Dispersed in the country / territory,637,1444,0.0,979,2712,400,0.0,6172,602,1314,0.0,1018,2786,512,0.0,6232
18354,2016,Zimbabwe,Harare : City,220,117,0.0,82,296,11,0.0,726,204,115,0.0,91,432,11,0.0,853
18355,2016,Zimbabwe,Manicaland : Province,496,769,0.0,525,1450,58,0.0,3298,462,829,0.0,604,1688,42,0.0,3625

In [29]:
data_3.dtypes

Year                                         int64
Country / territory of asylum/residence     object
Location Name                               object
Female 0-4                                  object
Female 5-11                                 object
Female 5-17                                float64
Female 12-17                                object
Female 18-59                                object
Female 60+                                  object
F: Unknown                                 float64
F: Total                                    object
Male 0-4                                    object
Male 5-11                                   object
Male 5-17                                  float64
Male 12-17                                  object
Male 18-59                                  object
Male 60+                                    object
M: Unknown                                 float64
M: Total                                    object
dtype: object

In [30]:
columns_to_replace_2 = ['Female 0-4' , 'Female 5-11' , 'Female 5-17', 'Female 12-17', 'Female 18-59', 
                        'Female 60+' , 'F: Unknown' , 'F: Total' , 'Male 0-4' , 'Male 5-11' , 'Male 5-17' , 
                        'Male 12-17' , 'Male 18-59' , 'Male 60+' , 'M: Unknown' , 'M: Total']

In [31]:
data_3[columns_to_replace_2] = data_3[columns_to_replace_2].replace('*', 0)

In [32]:
columns_to_convert_2 = ['Female 0-4' , 'Female 5-11' , 'Female 5-17', 'Female 12-17', 'Female 18-59', 
                        'Female 60+' , 'F: Unknown' , 'F: Total' , 'Male 0-4' , 'Male 5-11' , 'Male 5-17' , 
                        'Male 12-17' , 'Male 18-59' , 'Male 60+' , 'M: Unknown' , 'M: Total']

In [33]:
data_3[columns_to_convert_2] = data_3[columns_to_convert_2].astype(int)

In [34]:
data_3.dtypes

Year                                        int64
Country / territory of asylum/residence    object
Location Name                              object
Female 0-4                                  int64
Female 5-11                                 int64
Female 5-17                                 int64
Female 12-17                                int64
Female 18-59                                int64
Female 60+                                  int64
F: Unknown                                  int64
F: Total                                    int64
Male 0-4                                    int64
Male 5-11                                   int64
Male 5-17                                   int64
Male 12-17                                  int64
Male 18-59                                  int64
Male 60+                                    int64
M: Unknown                                  int64
M: Total                                    int64
dtype: object

In [35]:
data_3

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0,0,1,0,1,0,0,2,0,0,0,0,2,0,0,2
1,2001,Afghanistan,Various,14335,0,45451,0,99880,19234,412004,590904,14716,0,47522,0,114965,13025,435492,625720
2,2001,Afghanistan,Herat,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1
3,2001,Angola,Viana,484,0,1687,0,1282,43,0,3496,597,0,1645,0,787,34,0,3063
4,2001,Angola,Moxico,219,0,734,0,427,25,0,1405,226,0,711,0,139,15,0,1091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18351,2016,Zambia,Mayukwayukwa : Point,983,1456,0,934,2878,157,0,6408,982,1416,0,903,3202,326,0,6829
18352,2016,Zambia,Meheba : Point,1248,2364,0,1598,4182,300,0,9692,1205,2367,0,1693,4963,467,0,10695
18353,2016,Zambia,Zambia : Dispersed in the country / territory,637,1444,0,979,2712,400,0,6172,602,1314,0,1018,2786,512,0,6232
18354,2016,Zimbabwe,Harare : City,220,117,0,82,296,11,0,726,204,115,0,91,432,11,0,853
18355,2016,Zimbabwe,Manicaland : Province,496,769,0,525,1450,58,0,3298,462,829,0,604,1688,42,0,3625

In [36]:
data_3 = data_3.assign(**{'Female 5-17': data_3['Female 5-11'] + data_3['Female 5-17'] + data_3['Female 12-17']})
data_3.drop(['Female 5-11', 'Female 12-17'], axis=1, inplace=True)

In [37]:
data_3 = data_3.assign(**{'Male 5-17': data_3['Male 5-11'] + data_3['Male 5-17'] + data_3['Male 12-17']})
data_3.drop(['Male 5-11', 'Male 12-17'], axis=1, inplace=True)

In [38]:
data_3.rename(columns={'Country / territory of asylum/residence': 'Country of Asylum', 'Location Name': 'Area'}, inplace=True)

In [39]:
data_3

,Year,Country of Asylum,Area,Female 0-4,Female 5-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0,1,1,0,0,2,0,0,2,0,0,2
1,2001,Afghanistan,Various,14335,45451,99880,19234,412004,590904,14716,47522,114965,13025,435492,625720
2,2001,Afghanistan,Herat,0,0,1,0,0,1,0,0,1,0,0,1
3,2001,Angola,Viana,484,1687,1282,43,0,3496,597,1645,787,34,0,3063
4,2001,Angola,Moxico,219,734,427,25,0,1405,226,711,139,15,0,1091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18351,2016,Zambia,Mayukwayukwa : Point,983,2390,2878,157,0,6408,982,2319,3202,326,0,6829
18352,2016,Zambia,Meheba : Point,1248,3962,4182,300,0,9692,1205,4060,4963,467,0,10695
18353,2016,Zambia,Zambia : Dispersed in the country / territory,637,2423,2712,400,0,6172,602,2332,2786,512,0,6232
18354,2016,Zimbabwe,Harare : City,220,199,296,11,0,726,204,206,432,11,0,853
18355,2016,Zimbabwe,Manicaland : Province,496,1294,1450,58,0,3298,462,1433,1688,42,0,3625

In [40]:
df4 = pd.read_csv('../data/persons_of_concern.csv')
df4

/var/folders/z3/h787plg151ngb1cq61f4rbf40000gn/T/ipykernel_23938/3911681267.py:1: DtypeWarning: Columns (3,4,5,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('../data/persons_of_concern.csv')

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,1951,Australia,Various/Unknown,180000.0,NaN,NaN,NaN,NaN,NaN,NaN,180000
1,1951,Austria,Various/Unknown,282000.0,NaN,NaN,NaN,NaN,NaN,NaN,282000
2,1951,Belgium,Various/Unknown,55000.0,NaN,NaN,NaN,NaN,NaN,NaN,55000
3,1951,Canada,Various/Unknown,168511.0,NaN,NaN,NaN,NaN,NaN,NaN,168511
4,1951,Switzerland,Various/Unknown,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,10000
...,...,...,...,...,...,...,...,...,...,...,...
117316,2016,Zimbabwe,Somalia,24,0,0,0.0,0.0,0,*,25
117317,2016,Zimbabwe,Syrian Arab Rep.,0,0,0,0.0,0.0,0,*,*
117318,2016,Zimbabwe,Uganda,7,0,0,0.0,0.0,0,*,8
117319,2016,Zimbabwe,South Africa,*,0,0,0.0,0.0,0,7,8
117320,2016,Zimbabwe,Zimbabwe,0,0,0,0.0,0.0,0,128,128

In [41]:
data_4 = df4.fillna(0)
data_4

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,1951,Australia,Various/Unknown,180000.0,0,0,0.0,0.0,0,0,180000
1,1951,Austria,Various/Unknown,282000.0,0,0,0.0,0.0,0,0,282000
2,1951,Belgium,Various/Unknown,55000.0,0,0,0.0,0.0,0,0,55000
3,1951,Canada,Various/Unknown,168511.0,0,0,0.0,0.0,0,0,168511
4,1951,Switzerland,Various/Unknown,10000.0,0,0,0.0,0.0,0,0,10000
...,...,...,...,...,...,...,...,...,...,...,...
117316,2016,Zimbabwe,Somalia,24,0,0,0.0,0.0,0,*,25
117317,2016,Zimbabwe,Syrian Arab Rep.,0,0,0,0.0,0.0,0,*,*
117318,2016,Zimbabwe,Uganda,7,0,0,0.0,0.0,0,*,8
117319,2016,Zimbabwe,South Africa,*,0,0,0.0,0.0,0,7,8
117320,2016,Zimbabwe,Zimbabwe,0,0,0,0.0,0.0,0,128,128

In [42]:
data_4.dtypes

Year                                          int64
Country / territory of asylum/residence      object
Origin                                       object
Refugees (incl. refugee-like situations)     object
Asylum-seekers (pending cases)               object
Returned refugees                            object
Internally displaced persons (IDPs)         float64
Returned IDPs                               float64
Stateless persons                            object
Others of concern                            object
Total Population                             object
dtype: object

In [43]:
columns_to_replace_3 = ['Refugees (incl. refugee-like situations)' , 'Asylum-seekers (pending cases)' , 'Returned refugees' , 
                       'Internally displaced persons (IDPs)' , 'Returned IDPs' , 'Stateless persons' , 'Others of concern' , 'Total Population']

In [44]:
data_4[columns_to_replace_3] = data_4[columns_to_replace_3].replace('*', 0)

In [45]:
columns_to_convert_3 = ['Refugees (incl. refugee-like situations)' , 'Asylum-seekers (pending cases)' , 'Returned refugees' , 
                       'Internally displaced persons (IDPs)' , 'Returned IDPs' , 'Stateless persons' , 'Others of concern' , 'Total Population']

In [46]:
data_4[columns_to_convert_3] = data_4[columns_to_convert_3].astype(int)

In [47]:
data_4

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,1951,Australia,Various/Unknown,180000,0,0,0,0,0,0,180000
1,1951,Austria,Various/Unknown,282000,0,0,0,0,0,0,282000
2,1951,Belgium,Various/Unknown,55000,0,0,0,0,0,0,55000
3,1951,Canada,Various/Unknown,168511,0,0,0,0,0,0,168511
4,1951,Switzerland,Various/Unknown,10000,0,0,0,0,0,0,10000
...,...,...,...,...,...,...,...,...,...,...,...
117316,2016,Zimbabwe,Somalia,24,0,0,0,0,0,0,25
117317,2016,Zimbabwe,Syrian Arab Rep.,0,0,0,0,0,0,0,0
117318,2016,Zimbabwe,Uganda,7,0,0,0,0,0,0,8
117319,2016,Zimbabwe,South Africa,0,0,0,0,0,0,7,8
117320,2016,Zimbabwe,Zimbabwe,0,0,0,0,0,0,128,128

In [48]:
data_4.rename(columns={'Country / territory of asylum/residence': 'Country of Asylum', 'Origin': 'Country of Origin' , 'Asylum-seekers (pending cases)': 'Total Pending Cases' , 'Returned refugees' : 'Rejected Cases' , 'Stateless persons' : 'Stateless People' , 'Others of concern':'Unknown Cases of Concern'}, inplace=True)

In [49]:
data_4

,Year,Country of Asylum,Country of Origin,Refugees (incl. refugee-like situations),Total Pending Cases,Rejected Cases,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population
0,1951,Australia,Various/Unknown,180000,0,0,0,0,0,0,180000
1,1951,Austria,Various/Unknown,282000,0,0,0,0,0,0,282000
2,1951,Belgium,Various/Unknown,55000,0,0,0,0,0,0,55000
3,1951,Canada,Various/Unknown,168511,0,0,0,0,0,0,168511
4,1951,Switzerland,Various/Unknown,10000,0,0,0,0,0,0,10000
...,...,...,...,...,...,...,...,...,...,...,...
117316,2016,Zimbabwe,Somalia,24,0,0,0,0,0,0,25
117317,2016,Zimbabwe,Syrian Arab Rep.,0,0,0,0,0,0,0,0
117318,2016,Zimbabwe,Uganda,7,0,0,0,0,0,0,8
117319,2016,Zimbabwe,South Africa,0,0,0,0,0,0,7,8
117320,2016,Zimbabwe,Zimbabwe,0,0,0,0,0,0,128,128

In [50]:
data_4.rename(columns={'Refugees (incl. refugee-like situations)' : 'Total Applications'}, inplace=True)

In [51]:
data_4

,Year,Country of Asylum,Country of Origin,Total Applications,Total Pending Cases,Rejected Cases,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population
0,1951,Australia,Various/Unknown,180000,0,0,0,0,0,0,180000
1,1951,Austria,Various/Unknown,282000,0,0,0,0,0,0,282000
2,1951,Belgium,Various/Unknown,55000,0,0,0,0,0,0,55000
3,1951,Canada,Various/Unknown,168511,0,0,0,0,0,0,168511
4,1951,Switzerland,Various/Unknown,10000,0,0,0,0,0,0,10000
...,...,...,...,...,...,...,...,...,...,...,...
117316,2016,Zimbabwe,Somalia,24,0,0,0,0,0,0,25
117317,2016,Zimbabwe,Syrian Arab Rep.,0,0,0,0,0,0,0,0
117318,2016,Zimbabwe,Uganda,7,0,0,0,0,0,0,8
117319,2016,Zimbabwe,South Africa,0,0,0,0,0,0,7,8
117320,2016,Zimbabwe,Zimbabwe,0,0,0,0,0,0,128,128

In [52]:
df5 = pd.read_csv('../data/resettlement.csv')
df5

     Country / territory of asylum/residence      Origin  Year Value
0                                     Canada     Albania  1959    17
1                                     Canada     Austria  1959    17
2                                     Canada     Belgium  1959     2
3                                     Canada    Bulgaria  1959    35
4                                     Canada       China  1959     2
...                                      ...         ...   ...   ...
9070                United States of America  Uzbekistan  2016    46
9071                United States of America    Viet Nam  2016    57
9072                United States of America       Yemen  2016    27
9073                United States of America      Zambia  2016     *
9074                United States of America    Zimbabwe  2016    11

[9075 rows x 4 columns]

In [53]:
df5.dtypes

Country / territory of asylum/residence    object
Origin                                     object
Year                                        int64
Value                                      object
dtype: object

In [54]:
data_5 = df5.fillna(0)
data_5

     Country / territory of asylum/residence      Origin  Year Value
0                                     Canada     Albania  1959    17
1                                     Canada     Austria  1959    17
2                                     Canada     Belgium  1959     2
3                                     Canada    Bulgaria  1959    35
4                                     Canada       China  1959     2
...                                      ...         ...   ...   ...
9070                United States of America  Uzbekistan  2016    46
9071                United States of America    Viet Nam  2016    57
9072                United States of America       Yemen  2016    27
9073                United States of America      Zambia  2016     *
9074                United States of America    Zimbabwe  2016    11

[9075 rows x 4 columns]

In [55]:
data_5['Value'] = data_5['Value'].replace('*', 0)

In [56]:
data_5['Value'] = data_5['Value'].astype(int)

In [57]:
data_5.dtypes

Country / territory of asylum/residence    object
Origin                                     object
Year                                        int64
Value                                       int64
dtype: object

In [58]:
data_5.rename(columns={'Country / territory of asylum/residence' : 'Country of Asylum' , 'Origin' : 'Country of Origin' , 'Value' : 'Count' }, inplace=True)

In [59]:
data_5

             Country of Asylum Country of Origin  Year  Count
0                       Canada           Albania  1959     17
1                       Canada           Austria  1959     17
2                       Canada           Belgium  1959      2
3                       Canada          Bulgaria  1959     35
4                       Canada             China  1959      2
...                        ...               ...   ...    ...
9070  United States of America        Uzbekistan  2016     46
9071  United States of America          Viet Nam  2016     57
9072  United States of America             Yemen  2016     27
9073  United States of America            Zambia  2016      0
9074  United States of America          Zimbabwe  2016     11

[9075 rows x 4 columns]

In [60]:
data_5.drop('Count', axis=1, inplace=True)

In [61]:
data_5

             Country of Asylum Country of Origin  Year
0                       Canada           Albania  1959
1                       Canada           Austria  1959
2                       Canada           Belgium  1959
3                       Canada          Bulgaria  1959
4                       Canada             China  1959
...                        ...               ...   ...
9070  United States of America        Uzbekistan  2016
9071  United States of America          Viet Nam  2016
9072  United States of America             Yemen  2016
9073  United States of America            Zambia  2016
9074  United States of America          Zimbabwe  2016

[9075 rows x 3 columns]

In [62]:
df6 = pd.read_csv('../data/time_series.csv')
df6

/var/folders/z3/h787plg151ngb1cq61f4rbf40000gn/T/ipykernel_23938/3450673106.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv('../data/time_series.csv')

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000
...,...,...,...,...,...
298436,2016,Zimbabwe,Zimbabwe,Others of concern,128
298437,2016,Zimbabwe,Zimbabwe,Returned IDPs,0
298438,2016,Zimbabwe,Zimbabwe,Refugees (incl. refugee-like situations),0
298439,2016,Zimbabwe,Zimbabwe,Returnees,0
298440,2016,Zimbabwe,Zimbabwe,Stateless,0

In [63]:
df6.dtypes

Year                                        int64
Country / territory of asylum/residence    object
Origin                                     object
Population type                            object
Value                                      object
dtype: object

In [64]:
data_6 = df6.fillna(0)
data_6

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000
...,...,...,...,...,...
298436,2016,Zimbabwe,Zimbabwe,Others of concern,128
298437,2016,Zimbabwe,Zimbabwe,Returned IDPs,0
298438,2016,Zimbabwe,Zimbabwe,Refugees (incl. refugee-like situations),0
298439,2016,Zimbabwe,Zimbabwe,Returnees,0
298440,2016,Zimbabwe,Zimbabwe,Stateless,0

In [65]:
data_6['Value'] = data_6['Value'].replace('*', 0)

In [66]:
data_6['Value'] = data_6['Value'].astype(int)

In [67]:
data_6.dtypes

Year                                        int64
Country / territory of asylum/residence    object
Origin                                     object
Population type                            object
Value                                       int64
dtype: object

In [68]:
data_6.rename(columns={'Country / territory of asylum/residence' : 'Country of Asylum' , 'Origin' : 'Country of Origin' , 'Value' : 'Count' , 'Population type' : 'Category' }, inplace=True)

In [69]:
data_6

,Year,Country of Asylum,Country of Origin,Category,Count
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000
...,...,...,...,...,...
298436,2016,Zimbabwe,Zimbabwe,Others of concern,128
298437,2016,Zimbabwe,Zimbabwe,Returned IDPs,0
298438,2016,Zimbabwe,Zimbabwe,Refugees (incl. refugee-like situations),0
298439,2016,Zimbabwe,Zimbabwe,Returnees,0
298440,2016,Zimbabwe,Zimbabwe,Stateless,0

In [70]:
data_6.drop('Count', axis=1, inplace=True)

In [71]:
data_6

,Year,Country of Asylum,Country of Origin,Category
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations)
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations)
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations)
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations)
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations)
...,...,...,...,...
298436,2016,Zimbabwe,Zimbabwe,Others of concern
298437,2016,Zimbabwe,Zimbabwe,Returned IDPs
298438,2016,Zimbabwe,Zimbabwe,Refugees (incl. refugee-like situations)
298439,2016,Zimbabwe,Zimbabwe,Returnees
298440,2016,Zimbabwe,Zimbabwe,Stateless

## Merging Data

In [72]:
merged_data_1 = pd.merge(data_1, data_2, on=['Country of Asylum', 'Country of Origin' , 'Year'] , how='left')

In [73]:
merged_data_1

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,NaN
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,NaN
2,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,NaN
3,2000,United States of America,Afghanistan,G / EO,225,151,31,171,NaN
4,2000,United States of America,Afghanistan,G / IN,218,182,51,150,NaN
...,...,...,...,...,...,...,...,...,...
492356,2016,United States of America,Zimbabwe,G / IN,229,16,0,435,NaN
492357,2016,United States of America,Zimbabwe,G / EO,12,0,0,138,NaN
492358,2016,South Africa,Zimbabwe,G / AR,0,0,0,0,NaN
492359,2016,South Africa,Zimbabwe,G / FI,7964,73,7869,41260,NaN
492360,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN

In [74]:
merged_data_2 = pd.merge(merged_data_1, data_3, on=['Country of Asylum' , 'Year'] , how = 'left')

In [75]:
merged_data_2

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month,Area,...,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,United States of America,Afghanistan,G / EO,225,151,31,171,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,United States of America,Afghanistan,G / IN,218,182,51,150,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1747550,2016,South Africa,Zimbabwe,G / FI,7964,73,7869,41260,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1747551,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Lusaka : District,...,2669.0,109.0,0.0,4554.0,279.0,1469.0,4670.0,207.0,0.0,6625.0
1747552,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Mayukwayukwa : Point,...,2878.0,157.0,0.0,6408.0,982.0,2319.0,3202.0,326.0,0.0,6829.0
1747553,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Meheba : Point,...,4182.0,300.0,0.0,9692.0,1205.0,4060.0,4963.0,467.0,0.0,10695.0
1747554,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2712.0,400.0,0.0,6172.0,602.0,2332.0,2786.0,512.0,0.0,6232.0

In [76]:
merged_data_3 = pd.merge(merged_data_2, data_4, on=[ 'Year' , 'Country of Asylum' , 'Country of Origin' , 'Total Applications' , 'Total Pending Cases' , 'Rejected Cases'] , how = 'left')

In [77]:
merged_data_3

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month,Area,...,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,United States of America,Afghanistan,G / EO,225,151,31,171,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,United States of America,Afghanistan,G / IN,218,182,51,150,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1747550,2016,South Africa,Zimbabwe,G / FI,7964,73,7869,41260,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1747551,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Lusaka : District,...,1469.0,4670.0,207.0,0.0,6625.0,NaN,NaN,NaN,NaN,NaN
1747552,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Mayukwayukwa : Point,...,2319.0,3202.0,326.0,0.0,6829.0,NaN,NaN,NaN,NaN,NaN
1747553,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Meheba : Point,...,4060.0,4963.0,467.0,0.0,10695.0,NaN,NaN,NaN,NaN,NaN
1747554,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2332.0,2786.0,512.0,0.0,6232.0,NaN,NaN,NaN,NaN,NaN

In [78]:
merged_data_4 = pd.merge(merged_data_3, data_5, on=['Country of Asylum' , 'Country of Origin' , 'Year'] , how = 'left')

In [79]:
merged_data_4

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month,Area,...,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,United States of America,Afghanistan,G / EO,225,151,31,171,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,United States of America,Afghanistan,G / IN,218,182,51,150,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1747550,2016,South Africa,Zimbabwe,G / FI,7964,73,7869,41260,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1747551,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Lusaka : District,...,1469.0,4670.0,207.0,0.0,6625.0,NaN,NaN,NaN,NaN,NaN
1747552,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Mayukwayukwa : Point,...,2319.0,3202.0,326.0,0.0,6829.0,NaN,NaN,NaN,NaN,NaN
1747553,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Meheba : Point,...,4060.0,4963.0,467.0,0.0,10695.0,NaN,NaN,NaN,NaN,NaN
1747554,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2332.0,2786.0,512.0,0.0,6232.0,NaN,NaN,NaN,NaN,NaN

In [80]:
merged_data_5 = pd.merge(merged_data_4, data_6, on=['Country of Asylum' , 'Country of Origin' , 'Year'] , how = 'left')

In [81]:
merged_data_5

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month,Area,...,Male 18-59,Male 60+,M: Unknown,M: Total,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,NaN,NaN,NaN,NaN,NaN,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,NaN,NaN,NaN,NaN,NaN,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,NaN,NaN,NaN,NaN,NaN,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,NaN,NaN,NaN,NaN,NaN,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,NaN,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,NaN,NaN,NaN,NaN,NaN,Stateless

In [82]:
merged_data_5.dtypes

Year                                     int64
Country of Asylum                       object
Country of Origin                       object
Refugee Status Type                     object
Total Applications                       int64
Recognized Cases                         int64
Rejected Cases                           int64
Total Pending Cases                      int64
Month                                   object
Area                                    object
Female 0-4                             float64
Female 5-17                            float64
Female 18-59                           float64
Female 60+                             float64
F: Unknown                             float64
F: Total                               float64
Male 0-4                               float64
Male 5-17                              float64
Male 18-59                             float64
Male 60+                               float64
M: Unknown                             float64
M: Total                               float64
Internally displaced persons (IDPs)    float64
Returned IDPs                          float64
Stateless People                       float64
Unknown Cases of Concern               float64
Total Population                       float64
Category                                object
dtype: object

In [83]:
final_df = merged_data_5.fillna(0)

In [84]:
final_df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month,Area,...,Male 18-59,Male 60+,M: Unknown,M: Total,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,0.0,0.0,0.0,0.0,0.0,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,0.0,0.0,0.0,0.0,0.0,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,0.0,0.0,0.0,0.0,0.0,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,0.0,0.0,0.0,0.0,0.0,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786.0,512.0,0.0,6232.0,0.0,0.0,0.0,0.0,0.0,Stateless

In [85]:
final_df.dtypes

Year                                     int64
Country of Asylum                       object
Country of Origin                       object
Refugee Status Type                     object
Total Applications                       int64
Recognized Cases                         int64
Rejected Cases                           int64
Total Pending Cases                      int64
Month                                   object
Area                                    object
Female 0-4                             float64
Female 5-17                            float64
Female 18-59                           float64
Female 60+                             float64
F: Unknown                             float64
F: Total                               float64
Male 0-4                               float64
Male 5-17                              float64
Male 18-59                             float64
Male 60+                               float64
M: Unknown                             float64
M: Total                               float64
Internally displaced persons (IDPs)    float64
Returned IDPs                          float64
Stateless People                       float64
Unknown Cases of Concern               float64
Total Population                       float64
Category                                object
dtype: object

In [86]:

final_df['Female 0-4'] = final_df['Female 0-4'].astype(int)
final_df['Female 5-17'] = final_df['Female 5-17'].astype(int)
final_df['Female 18-59'] = final_df['Female 18-59'].astype(int)
final_df['Female 60+'] = final_df['Female 60+'].astype(int)
final_df['F: Unknown'] = final_df['F: Unknown'].astype(int)
final_df['F: Total'] = final_df['F: Total'].astype(int)
final_df['Male 0-4'] = final_df['Male 0-4'].astype(int)
final_df['Male 5-17'] = final_df['Male 5-17'].astype(int)
final_df['Male 18-59'] = final_df['Male 18-59'].astype(int)
final_df['Male 60+'] = final_df['Male 60+'].astype(int)
final_df['M: Unknown'] = final_df['M: Unknown'].astype(int)
final_df['M: Total'] = final_df['M: Total'].astype(int)
final_df['Internally displaced persons (IDPs)'] = final_df['Internally displaced persons (IDPs)'].astype(int)
final_df['Returned IDPs'] = final_df['Returned IDPs'].astype(int)
final_df['Stateless People'] = final_df['Stateless People'].astype(int)
final_df['Unknown Cases of Concern'] = final_df['Unknown Cases of Concern'].astype(int)
final_df['Total Population'] = final_df['Total Population'].astype(int)

In [87]:
final_df.dtypes

Year                                    int64
Country of Asylum                      object
Country of Origin                      object
Refugee Status Type                    object
Total Applications                      int64
Recognized Cases                        int64
Rejected Cases                          int64
Total Pending Cases                     int64
Month                                  object
Area                                   object
Female 0-4                              int64
Female 5-17                             int64
Female 18-59                            int64
Female 60+                              int64
F: Unknown                              int64
F: Total                                int64
Male 0-4                                int64
Male 5-17                               int64
Male 18-59                              int64
Male 60+                                int64
M: Unknown                              int64
M: Total                                int64
Internally displaced persons (IDPs)     int64
Returned IDPs                           int64
Stateless People                        int64
Unknown Cases of Concern                int64
Total Population                        int64
Category                               object
dtype: object

In [88]:
final_df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month,Area,...,Male 18-59,Male 60+,M: Unknown,M: Total,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Stateless

In [89]:
df = final_df

In [90]:
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Month,Area,...,Male 18-59,Male 60+,M: Unknown,M: Total,Internally displaced persons (IDPs),Returned IDPs,Stateless People,Unknown Cases of Concern,Total Population,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,0,Zambia : Dispersed in the country / territory,...,2786,512,0,6232,0,0,0,0,0,Stateless

In [91]:
df = df.drop(['Internally displaced persons (IDPs)', 'Returned IDPs' , 'Month' , 'Total Population', 'Stateless People' ,'Unknown Cases of Concern'], axis=1)

In [92]:
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Area,Female 0-4,...,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Stateless

In [93]:
df.dtypes

Year                    int64
Country of Asylum      object
Country of Origin      object
Refugee Status Type    object
Total Applications      int64
Recognized Cases        int64
Rejected Cases          int64
Total Pending Cases     int64
Area                   object
Female 0-4              int64
Female 5-17             int64
Female 18-59            int64
Female 60+              int64
F: Unknown              int64
F: Total                int64
Male 0-4                int64
Male 5-17               int64
Male 18-59              int64
Male 60+                int64
M: Unknown              int64
M: Total                int64
Category               object
dtype: object

In [94]:
df = df.assign(Total_Population=df[['F: Total','M: Total']].sum(axis=1))

In [95]:
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Area,Female 0-4,...,F: Unknown,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Category,Total_Population
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,Asylum-seekers,0
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,Asylum-seekers,0
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,6172,602,2332,2786,512,0,6232,Others of concern,12404
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,6172,602,2332,2786,512,0,6232,Returned IDPs,12404
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,6172,602,2332,2786,512,0,6232,Refugees (incl. refugee-like situations),12404
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,6172,602,2332,2786,512,0,6232,Returnees,12404
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,6172,602,2332,2786,512,0,6232,Stateless,12404

In [96]:
df = df.assign(Total_Applications=df[['Recognized Cases' , 'Rejected Cases' , 'Total Pending Cases']].sum(axis=1))

In [97]:
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Area,Female 0-4,...,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Category,Total_Population,Total_Applications
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0,5
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,Asylum-seekers,0,8
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0,8
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,Asylum-seekers,0,2094
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0,2094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,6172,602,2332,2786,512,0,6232,Others of concern,12404,0
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,6172,602,2332,2786,512,0,6232,Returned IDPs,12404,0
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,6172,602,2332,2786,512,0,6232,Refugees (incl. refugee-like situations),12404,0
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,6172,602,2332,2786,512,0,6232,Returnees,12404,0
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,6172,602,2332,2786,512,0,6232,Stateless,12404,0

In [98]:
df.dtypes

Year                    int64
Country of Asylum      object
Country of Origin      object
Refugee Status Type    object
Total Applications      int64
Recognized Cases        int64
Rejected Cases          int64
Total Pending Cases     int64
Area                   object
Female 0-4              int64
Female 5-17             int64
Female 18-59            int64
Female 60+              int64
F: Unknown              int64
F: Total                int64
Male 0-4                int64
Male 5-17               int64
Male 18-59              int64
Male 60+                int64
M: Unknown              int64
M: Total                int64
Category               object
Total_Population        int64
Total_Applications      int64
dtype: object

In [99]:
df.drop(['Total_Applications', 'Total_Population'], axis=1, inplace=True)

In [100]:
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Total Pending Cases,Area,Female 0-4,...,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Stateless

In [101]:
df.rename(columns={'Total Pending Cases': 'Pending Cases'}, inplace=True)
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Pending Cases,Area,Female 0-4,...,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2156,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Stateless

In [102]:
df['Total Applications'] = df['Recognized Cases'] + df['Rejected Cases'] + df['Pending Cases']

In [103]:
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Pending Cases,Area,Female 0-4,...,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,M: Total,Category
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
1,2000,South Africa,Afghanistan,G / FI,8,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
2,2000,South Africa,Afghanistan,G / FI,8,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
3,2000,Uzbekistan,Afghanistan,U / FI,2094,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Asylum-seekers
4,2000,Uzbekistan,Afghanistan,U / FI,2094,747,112,1235,0,0,...,0,0,0,0,0,0,0,0,0,Refugees (incl. refugee-like situations)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Others of concern
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returned IDPs
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Refugees (incl. refugee-like situations)
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Returnees
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,400,0,6172,602,2332,2786,512,0,6232,Stateless

In [104]:
df.drop(['F: Total', 'M: Total'], axis=1, inplace=True)

In [105]:
df['Total Females'] = df['Female 0-4'] + df['Female 5-17'] + df['Female 18-59'] + df['Female 60+'] + df['F: Unknown']

In [106]:
df['Total Males'] = df['Male 0-4'] + df['Male 5-17'] + df['Male 18-59'] + df['Male 60+'] + df['M: Unknown']

In [107]:
df['Total Population'] = df['Total Females'] + df['Total Males']

In [108]:
df

,Year,Country of Asylum,Country of Origin,Refugee Status Type,Total Applications,Recognized Cases,Rejected Cases,Pending Cases,Area,Female 0-4,...,F: Unknown,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,Category,Total Females,Total Males,Total Population
0,2000,Zimbabwe,Afghanistan,G / FI,5,5,0,0,0,0,...,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0,0,0
1,2000,South Africa,Afghanistan,G / FI,8,0,0,8,0,0,...,0,0,0,0,0,0,Asylum-seekers,0,0,0
2,2000,South Africa,Afghanistan,G / FI,8,0,0,8,0,0,...,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0,0,0
3,2000,Uzbekistan,Afghanistan,U / FI,2094,747,112,1235,0,0,...,0,0,0,0,0,0,Asylum-seekers,0,0,0
4,2000,Uzbekistan,Afghanistan,U / FI,2094,747,112,1235,0,0,...,0,0,0,0,0,0,Refugees (incl. refugee-like situations),0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,602,2332,2786,512,0,Others of concern,6172,6232,12404
6961543,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,602,2332,2786,512,0,Returned IDPs,6172,6232,12404
6961544,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,602,2332,2786,512,0,Refugees (incl. refugee-like situations),6172,6232,12404
6961545,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,602,2332,2786,512,0,Returnees,6172,6232,12404
6961546,2016,Zambia,Zimbabwe,G / FI,0,0,0,0,Zambia : Dispersed in the country / territory,637,...,0,602,2332,2786,512,0,Stateless,6172,6232,12404

In [109]:
df = df[['Year', 'Country of Asylum', 'Area' , 'Country of Origin', 'Refugee Status Type', 'Category' , 'Recognized Cases', 'Rejected Cases', 'Pending Cases', 'Total Applications' , 'Female 0-4', 'Female 5-17', 'Female 18-59', 'Female 60+', 'F: Unknown', 'Male 0-4', 'Male 5-17', 'Male 18-59', 'Male 60+', 'M: Unknown', 'Total Females' , 'Total Males', 'Total Population']]

In [110]:
df

,Year,Country of Asylum,Area,Country of Origin,Refugee Status Type,Category,Recognized Cases,Rejected Cases,Pending Cases,Total Applications,...,Female 60+,F: Unknown,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,Total Females,Total Males,Total Population
0,2000,Zimbabwe,0,Afghanistan,G / FI,Refugees (incl. refugee-like situations),5,0,0,5,...,0,0,0,0,0,0,0,0,0,0
1,2000,South Africa,0,Afghanistan,G / FI,Asylum-seekers,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
2,2000,South Africa,0,Afghanistan,G / FI,Refugees (incl. refugee-like situations),0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
3,2000,Uzbekistan,0,Afghanistan,U / FI,Asylum-seekers,747,112,1235,2094,...,0,0,0,0,0,0,0,0,0,0
4,2000,Uzbekistan,0,Afghanistan,U / FI,Refugees (incl. refugee-like situations),747,112,1235,2094,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Others of concern,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961543,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Returned IDPs,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961544,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Refugees (incl. refugee-like situations),0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961545,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Returnees,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961546,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Stateless,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404

In [111]:
columns_to_convert_5 = ['Total Females' , 'Total Males' , 'Total Population']

In [112]:
df[columns_to_convert_5] = df[columns_to_convert_5].astype(int)

In [113]:
df.dtypes

Year                    int64
Country of Asylum      object
Area                   object
Country of Origin      object
Refugee Status Type    object
Category               object
Recognized Cases        int64
Rejected Cases          int64
Pending Cases           int64
Total Applications      int64
Female 0-4              int64
Female 5-17             int64
Female 18-59            int64
Female 60+              int64
F: Unknown              int64
Male 0-4                int64
Male 5-17               int64
Male 18-59              int64
Male 60+                int64
M: Unknown              int64
Total Females           int64
Total Males             int64
Total Population        int64
dtype: object

In [120]:
df_unique = df.drop_duplicates(inplace = True)

In [121]:
df_unique

In [119]:
df_unique.to_csv('output.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'