In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import imageio
import os
import plotly.io as pio
from plotly.subplots import make_subplots
import numpy as np
import plotly.graph_objects as go
import geopandas as gpd

In [2]:
df = pd.read_csv('output.csv')
df

,Year,Country of Asylum,Area,Country of Origin,Refugee Status Type,Category,Recognized Cases,Rejected Cases,Pending Cases,Total Applications,...,Female 60+,F: Unknown,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,Total Females,Total Males,Total Population
0,2000,Zimbabwe,0,Afghanistan,G / FI,Refugees (incl. refugee-like situations),5,0,0,5,...,0,0,0,0,0,0,0,0,0,0
1,2000,South Africa,0,Afghanistan,G / FI,Asylum-seekers,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
2,2000,South Africa,0,Afghanistan,G / FI,Refugees (incl. refugee-like situations),0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
3,2000,Uzbekistan,0,Afghanistan,U / FI,Asylum-seekers,747,112,1235,2094,...,0,0,0,0,0,0,0,0,0,0
4,2000,Uzbekistan,0,Afghanistan,U / FI,Refugees (incl. refugee-like situations),747,112,1235,2094,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2180083,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Others of concern,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
2180084,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Returned IDPs,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
2180085,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Refugees (incl. refugee-like situations),0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
2180086,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Returnees,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
2180087,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Stateless,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404

In [4]:
df2 = df.drop(['Refugee Status Type', 'Area' , 'Category' , 'Recognized Cases' , 'Rejected Cases' , 'Pending Cases' , 'Total Applications' , 'Female 18-59', 'Female 60+', 'F: Unknown' , 
                'Male 18-59' , 'Male 60+' , 'M: Unknown', 'Total Females' , 'Total Males'], axis=1)

In [6]:
df2.dtypes

Year                  int64
Country of Asylum    object
Country of Origin    object
Female 0-4            int64
Female 5-17           int64
Male 0-4              int64
Male 5-17             int64
Total Population      int64
dtype: object

In [7]:
df2.drop_duplicates(inplace = True)

In [8]:
df2

,Year,Country of Asylum,Country of Origin,Female 0-4,Female 5-17,Male 0-4,Male 5-17,Total Population
0,2000,Zimbabwe,Afghanistan,0,0,0,0,0
1,2000,South Africa,Afghanistan,0,0,0,0,0
3,2000,Uzbekistan,Afghanistan,0,0,0,0,0
5,2000,United States of America,Afghanistan,0,0,0,0,0
9,2000,Ukraine,Afghanistan,0,0,0,0,0
...,...,...,...,...,...,...,...,...
2180046,2016,South Africa,Zimbabwe,0,0,0,0,0
2180060,2016,Zambia,Zimbabwe,324,1452,279,1469,11179
2180067,2016,Zambia,Zimbabwe,983,2390,982,2319,13237
2180074,2016,Zambia,Zimbabwe,1248,3962,1205,4060,20387
2180081,2016,Zambia,Zimbabwe,637,2423,602,2332,12404

In [14]:
filtered_df = df2[df2['Year'].isin([2013, 2014, 2015])]

In [23]:
filtered_df['Sum of Total Children'] = filtered_df['Female 0-4'] + filtered_df['Female 5-17'] + filtered_df['Male 0-4'] + filtered_df['Male 5-17']

/var/folders/z3/h787plg151ngb1cq61f4rbf40000gn/T/ipykernel_4838/2747465316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Sum of Total Children'] = filtered_df['Female 0-4'] + filtered_df['Female 5-17'] + filtered_df['Male 0-4'] + filtered_df['Male 5-17']

In [27]:
fig = px.scatter(filtered_df, x='Year', y='Sum of Total Children', trendline='ols')

fig.update_layout(
    width=800,
    height=500,
    title='Sum of Total Children Migrating (2013-2015)',
    xaxis_title='Year',
    yaxis_title='Sum of Total Children'
)

fig.show(renderer = 'browser')